[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pillow = "*"
tensorflow = "==2.0.0-alpha0"
h5py = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.6"
